version: '3.3'

services:
  db:
    image: postgres:16-alpine
    container_name: foodgram-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: foodgram-backend
    volumes:
      - static_value:/app/collected_static/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - .env
    restart: always

  frontend:
    container_name: foodgram-front
    build: ./frontend
    volumes:
      - ./frontend/:/app/result_build/

  nginx:
    container_name: foodgram-proxy
    image: nginx:1.25.4-alpine
    ports:
      - "8080:80"
    volumes:
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html/
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  postgres_data:
  static_value:
  media_value:


