volumes:
  pg_data:
  static:
  media:


services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: etrifonoff/foodgram_backend:latest
    container_name: backend
    env_file:
      - .env
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/app/data
    depends_on:
      - db
    command: >
      sh -c "sleep 5 &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             cp -r /app/collected_static/. /backend_static/static/ &&
             gunicorn foodgram.wsgi:application --bind 0.0.0.0:8000"

  frontend:
    image: etrifonoff/foodgram_frontend:latest
    container_name: frontend
    env_file:
      - .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
    depends_on:
      - backend

  gateway:
    image: etrifonoff/foodgram_gateway:latest
    env_file:
      - .env
    ports:
      - 8000:80
    volumes:
      - static:/staticfiles
      - media:/app/media
      - ./docs/:/usr/share/nginx/html/api/docs/
    depends_on:
      - frontend
      - backend
