volumes:
  pg_data:
  static:
  media:


services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: etrifonov/foodgram_backend:latest
    env_file:
      - .env
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/app/data
    depends_on:
      - db

  frontend:
    image: etrifonov/foodgram_frontend:latest
    env_file:
      - .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
    depends_on:
      - backend

  gateway:
    image: etrifonov/foodgram_gateway:latest
    env_file:
      - .env
    ports:
      - 80:80
    volumes:
      - static:/staticfiles
      - media:/app/media
      - ./docs/:/usr/share/nginx/html/api/docs/
    depends_on:
      - frontend
